{% if modules %}
	<aside class="col-md-3 col-sm-4 col-xs-12 content-aside right_column sidebar-offcanvas" >
	 	   <span id="close-sidebar" class="fa fa-times"></span>
		  {% for module in modules %}
		  {{ module }}
		  {% endfor %}
	</aside>
{% endif %}
