@include breakpoint(sm){
	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */

    /*!== Header 1 ==!*/
	
    header.typeheader-1{
        .menu-vertical{ margin-top: 6px; }
        .header-center-right{
            .megamenu-style-dev{ float: $left; top: 7px; margin-#{$left}: 15px; }
        }
         .dropdown-menu-search{
            display:block; opacity:1;
            display: block;
            opacity: 1;
            visibility: visible;
            margin: 0;
            background: transparent;
            border: none;
            box-shadow: none;
        }
        #sosearchpro .dropdown-menu{
            margin-top: 0;
        }
        
       
    }

    /*!== Header 2 ==!*/
    header.typeheader-2{
        .navbar-logo{ text-align: center; padding-bottom: 25px; }
        .header_search{ width: 60%; }
       // .horizontal{ margin-top: 9px; }
        .vertical{ margin-top: 5px; }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{ padding: 8px 6px;}
        .header-bottom .header-bottom-right .header-menu{
            margin-top: 10px;
        }
    }

    /*!== Header 3 ==!*/
    header.typeheader-3{
        .header-search{ top: 4px; }
        .btn-group .btn-link{ padding: 5px; }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{ background: #999; border-radius: 0; margin : 3px 0;}
        .megamenu-style-dev .horizontal ul.megamenu > li{ text-align: $left; display: block; }
        .language .dropdown-menu{ #{$right}:auto; #{$left}:0; }
    }

    /*=== Header 4 ===*/
    header.typeheader-4{
        .navbar-logo{ position: absolute; text-align: center; top: 10px; width: 100%;
            border-bottom: 1px solid rgba(255,255,255,0.1); padding-bottom: 15px; left: 0; right: 0;
        }
        .header-center{ padding-top: 62px; }
        .header-left{ padding: 0; }
        .vertical .navbar-header { margin-top: 5px; }
        .container-megamenu.vertical .vertical-wrapper{ opacity: 1; visibility: visible; }
    }

    /*=== Header 5 ===*/
    header.typeheader-5{
       .navbar-logo{ text-align: center; padding-bottom: 25px; }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{margin-top: 10px;}
    }

    /*=== Header 6 ===*/
    header.typeheader-6{
        .navbar-logo{ text-align: center; }
       .header-center .header_search {  padding: 0;  position: absolute; bottom: -57px; width: 100%;  padding: side-values(0 78px 0 50px);  }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
            background: $background;
            border: none;
            border-radius: 0;
            box-shadow: none;
            padding: 9px 8px 10px; 
        }
        .header-center { padding: 25px 0 15px;  }
        #sosearchpro.so-search .select_category:after{ line-height: 40px; }
        #sosearchpro.so-search .select_category select { height: 36px; line-height: 33px; border-#{$right}: 1px solid #ddd;  }
        #sosearchpro.so-search .select_category { background: #fff;  border: none;  border-radius: 0; z-index: 1;   }
        #sosearchpro.so-search .autosearch-input {border: 0; height: 36px; background: #fff;   }
        #sosearchpro.so-search .button-search {  height: 36px; min-width: 40px; border-radius: 0!important;      }
        .header-bottom { background-color: #666; padding: 6px 0; z-index: inherit;   }
        .block-cart{
            margin: 0;
            position: absolute;
            bottom: -8px;
            z-index: 9;
            #{$right}: 54px;
        }
        .shopping_cart .handle{
            border-radius: 0;
            height: 36px;
            width: 38px;
            line-height: 36px;
            background: $background;
        }
        .total-shopping-cart,
        .title-cart-h6{ display: none!important; }
        .shopping_cart .dropdown-menu {
            border: none;
            top: 45px;
            #{$right}: -38px;
            #{$left}: auto;
            &:before{
                content: "";
                height: 3px;
                width: 100%;
                position: absolute;
                top: 0;
                background: darken($background,10%);
                right: 0;
                left: 0;
            }
        }
    }

    /*=== Header 7 ===*/
    header.typeheader-7{
        .header-top .header-top-left { line-height: 25px; padding-top: 10px; text-align: center;  }
        .navbar-logo,
        .header-top .header-top-right{ text-align: center; }
         .header-center .inner-top-right{top: 3px;}
    }
    .typeheader-8{
         .header-top .header-top-left .top-link .btn-group .btn-link{
            padding: 7px 8px;
        }
    }
     header.typeheader-9{
        .navbar-logo{
            text-align: center;
        }
        .header-center .header_search{
            position: absolute;
            #{$right}: 70px;
            top: 9px;
         }
        .bt-search.hidden{
            float: $right;
        }
         .header-center .header_search #sosearchpro .button-search{
            height: 40px;
         }
        .header_search{ margin-top: 11px; }
        .bt-search.hidden{
            display: block!important;
            width: 37px;
            height: 37px;
            text-align: center;
            border: none;
            background: #fff;
            font-size: 18px;
            color: #000;
            padding: 0;
            border-radius: 100%;
        }
        h5.tabBlockTitle{ display: none!important; }
        .dropdown-menu-search{
            display: none; position: absolute;
        }
        .open .dropdown-menu-search{
            display: block;
            min-width: 230px;         
            #{$left}: 0;
            
        }

        #sosearchpro.so-search .select_category{ display: none; }
        #sosearchpro.so-search .button-search{ height: 33px; border-radius: 0; min-width: 35px;  }
        #sosearchpro.so-search .autosearch-input{ height: 33px; border-radius: 0; min-width: 200px; border: none; box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15)!important;}
    }

    /*=== Header 10 ===*/
    .typeheader-10{
        .header-center .contain .header-menu{
            height: 46px;
        }
        .navbar-header{
            padding-top: 5px;
        }
    }
    .typeheader-11 .header-center{
        .navbar-logo{
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .typeheader-12{
         position: relative !important;
        background: #222 !important;
        .navbar-logo{
            margin-bottom: 20px;
        }
        .header-top .header-top-inner{
            padding: 0 45px;
        }
        .inner-top-right{
            position: absolute;
            top: 138px;
            width: 50%;
        }
        .header-top{
            padding-bottom: 20px;
        }
        .header-bottom {
            padding-bottom: 10px;
        }
    }
    .common-home .typeheader-13{
        position: relative;
    }
    .typeheader-13{
        .navbar-logo{
            text-align: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #efefef;
            padding-bottom: 20px;
        }
        .navbar-header{
            margin-top: 5px;
        }
    }
    .typeheader-14 .megamenu-style-dev{
        margin-top: 2px;
    }

     header.typeheader-15{
        .navbar-logo{
            text-align: $right;
        }
        .header-center .header_search{
            position: absolute;
            #{$right}: 70px;
            top: 31px;
            z-index: 99; 
         }
        .bt-search.hidden{
            float: $right;
        }
         .header-center .header_search #sosearchpro .button-search{
            height: 40px;
         }
        .header_search{ margin-top: 11px; }
        .bt-search.hidden{
            display: block!important;
            width: 37px;
            height: 37px;
            text-align: center;
            border: none;
            background: #fff;
            font-size: 18px;
            color: #000;
            padding: 0;
            border-radius: 100%;
        }
        h5.tabBlockTitle{ display: none!important; }
        .dropdown-menu-search{
            display: none; position: absolute;
        }
        .open .dropdown-menu-search{
            display: block;
            min-width: 230px;         
            #{$left}: 0;
            
        }

        #sosearchpro.so-search .select_category{ display: none; }
        #sosearchpro.so-search .button-search{ height: 33px; border-radius: 0; min-width: 35px;  }
        #sosearchpro.so-search .autosearch-input{ height: 33px; border-radius: 0; min-width: 200px; border: none; box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15)!important;}
    }

    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/

    /*[] LAYOUT DEFAULT []*/
    .common-home{
        .module.sohomepage-slider .sohomeslider-description{
            .image{width: 25%;}
            .text {
                &.pos-right{
                    right: 20px;
                }
                .titleh4{font-size: 40px !important;}
                h3.tilte.modtitle-sl11{font-size: 36px !important;}
            }
        }
    }
    
    .products-list.grid .product-layout .product-item-container .button-group button{ margin: 0!important; }
    .module.sohomepage-slider .sohomeslider-description .item-desc-inner .slide-btn{ width: 120px; }

    /*[] LAYOUT 1 []*/
    .layout-1{
         div.module.custom-listingtab .ltabs-wrap .wap-listing-tabs .item-cat-image{
             float: $left;
            width: 27%;
            img{width: 100%;}
        }
        div.module.custom-listingtab .ltabs-wrap .ltabs-items-container{
            float: $left;
            width: 73%;
        }
        div.module.custom-listingtab.img-float .ltabs-wrap .wap-listing-tabs .item-cat-image{
              float: $right;
        }
        div.module.custom-listingtab.img-float .ltabs-wrap .ltabs-items-container{
             float: $right;
        }
        .top-brand.arrow-default .owl2-nav{ display: none; }
	    .block-image-1{ 
            li{ width: 33.33%; float: $left; } 
        }
        .custom_deals_featured.so-deals .so-deal .product-feature .item-timer .time-item{ margin-#{$right}: 5px; }
        div.products-list.grid .product-layout .product-item-container{
         
            .button-group button{opacity: 1;}
        } 
        .best-seller-custom.best-seller{ margin-top: 40px; }
        .module.custom-listingtab .products-list.grid .product-layout .product-item-container{ padding-bottom: 18px; }
    }

    /*!== Layout 2 ==!*/
    .layout-2{
        .block-infos .info {
            width: 25%;
            &.info5{ display: none; }
        }
        .module.custom_supper .so-sp-cat .spcat-wrap .spc-wrap{ width: 75%; }
        .module.custom_supper .so-sp-cat .spcat-wrap .category-wrap { width: 25%; }
        .module.custom_supper .so-sp-cat .spcat-wrap .category-wrap .slider .cat_slider_inner { min-height: 466px; }
    }

    /*!== Layout 3 ==!*/
    .layout-3{
        .banner-home3-2 .banner ul li a{ width: 120px; font-size: 11px;}
        .content-img img{ width: 100%; }
    }

    /*!== Layout 4 ==!*/
    .layout-4{
        .html-infos .info span { font-size: 28px; }
        .html-categories .cate-content .cate{ width: 25%; 
            &.cate5{ display: none; }
        }
        .content-img img{ width: 100%; }
        .footer-top .follow-us { margin-top: 40px; }
       
    }

    /*!== Layout 6 ==!*/
    .layout-6{
       .service-home4{ text-align: center; }
       .products-list.grid .product-layout .product-item-container .button-group button{ padding: 0; }

      // &.common-home .products-list.grid .product-layout .product-item-container .button-group{ opacity: 1!important;visibility: visible!important; }
      
       &.common-home .products-list.grid .product-layout .product-item-container .button-group button{ bottom: 0!important; }
       .top-brand.owl2-carousel .owl2-dots{ display: none!important; } 
    }


    /*!== Layout 7 ==!*/
    .layout-7{
        .module.extra_home7 .button-groups .btn-button.addToCart{
            padding: 0 20px;
        }
        .sohomepage-slider .owl2-nav{ display: none!important; }
        &.common-home{
            .module h3.modtitle span{
                font-size: 28px;
            }
            .block.block_3,
            .block.block_2{ margin-top: 15px; }
            .block.block_4{ margin-top: 45px; }
            .block.block_7 { margin-top: 65px;}
            .block.block_8{ margin-top: 0; }
            .section-bg-2 {
                margin-top: 10px;
                padding: 100px 0 85px;
            }        
        } 
        .module.home7_listingtab .owl2-controls{top: 0;}
        .module.extra_home7 .products-list.grid .product-layout .product-item-container .right-block .caption h4 a{ font-size: 16px; }
        .more-info {   padding: 15px 15px 0px;   margin-bottom: 15px; text-align: center; }
        .more-info p.title { font-size: 40px; left: 0; right: 0;     }
        .more-info h2.color-theme {  font-size: 24px; text-align: center;}
        .more-info .des { margin: 10px 0px 15px; }
        .block-video .modcontent > div { min-height: 350px;}
        .more-info .shop-now{ padding: 8px 25px; }
        .module.home7_listingtab .wap-listing-tabs{ width: 100%; }
        .block-clientsay .text-first{ font-size: 40px; }
        .block-clientsay .block-title strong { font-size: 26px }
        .block-clientsay .block-title { margin-bottom: 15px; }
        .block-clientsay .item h3.title { font-size: 18px; }
        .block-clientsay .item .des {
            font-size: 13px;
            margin: 10px 0 10px;
        }
        .block-clientsay .item {
            margin-bottom: 20px;
        }
        .yt-content-slider.arrow-default .owl2-nav{ display: none; }
        .top-brand.arrow-default{ padding-bottom: 10px; }
        .module.home7-blog .blog-external .content-detail .entry-date{ min-width: 50px; padding: 10px; margin-#{$right}: 10px;; }
        .module.home7-blog .blog-external .content-detail .entry-date .month-time{ font-size: 14px; }
        .module.home7-blog .blog-external .content-detail .entry-date .day-time{ font-size: 22px; line-height: 20px; }
        .module.home7-blog .blog-external .content-detail h4 a{ font-size: 14px; line-height: 18px; }
        .so-latest-blog .media-content .media-comment, .so-latest-blog .media-content .media-view { padding: 0 5px;}
        .module.home7-blog .blog-external .content-detail .media-content .description{ font-size: 13px; line-height: 18px; margin-top: 5px; }
        .block-clientsay{
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }
         .module.home7-blog{padding: 0 15px;}
        .module.home7_listingtab .button-groups .btn-button.addToCart{ padding: 0 15px; }
    }

     /*!== Layout 8 ==!*/
    .layout-8{
        .h8-banner4 .lb-content .lb-images{
             a {
                float: left;
                width: 100%;
                img{width: 100%;}
            }
            a:last-child {
                margin-left: 0;
            }
        }
        .h8-featured-cates .cate-bottom{
            padding: 20px 10px;
        }

        .h8-featured-cates .cate-bottom p{margin-bottom: 15px;}
        .typeheader-8 .header-center .header_search{
            width: 90%;
        }
        .sohomepage-slider .owl2-controls .owl2-nav div.owl2-prev{
            left: 0px;
        }
        .sohomepage-slider .owl2-controls .owl2-nav div.owl2-next{
            right: 0px;
        }
    }

     /*!== Layout 9 ==!*/
    .layout-9{
        .static-content .st-content{
            padding-top: 0;
        }
        .static-content .st-content a{
            margin-top: 0px;
        }
        .static-content .st-content .st-title{
            padding-bottom: 6px;
            margin-bottom: 10px;
        }
        
        .module.extra_home9 .item .first-item{
            width: 100%;
            text-align: center;
        }
        .module.extra_home9 .item .ex-item{
            width: 33.33%;
        }
        .content-top .content-left-w{padding-#{$right}: 15px;}
        .module.home9_deals .owl2-controls .owl2-nav > div.owl2-prev{
            #{$left}: 0;
        }
         .module.home9_deals .owl2-controls .owl2-nav > div.owl2-next{
            #{$right}: 0;
        }
    }
      /*!== Layout 10 ==!*/
    .layout-10{
        .module.extra_home10 .owl2-controls .owl2-nav div.owl2-prev{
            #{$left}: 0;
        }
         .module.extra_home10 .owl2-controls .owl2-nav div.owl2-next{
            #{$right}: 0;
        }
         .module.extra_home10.center-large .products-list .owl2-item.center .left-block{
            height: 260px;
        }
    }
      /*!== Layout 12 ==!*/
    .layout-12{
        .sohomepage-slider .sohomeslider-description{
            top: 30% !important;
             .title-slider{
                font-size: 45px;
                margin-bottom: 20px;
             }
             .modtitle-sl11{
                font-size: 15px;
                margin-bottom: 50px;
             }
        }
    }
       /*!== Layout 13 ==!*/
    .layout-13{
        .dev_listingtab_h13 .products-list.grid .product-layout .product-item-container .right-block .caption h4{
            font-size: 15px;
        }
        .sohomepage-slider .so-homeslider .sohomeslider-description{
            top: 20%;
        }
    }
      /*!== Layout 13 ==!*/
    .layout-14{
        .h14-policy-shop{
             .col{
                width: 50%;
            }
            .col1,.col2{
                margin-bottom: 20px; 
            }
        }
        .h14-block-banner1{
            .item1{
                margin-bottom: 20px;
            }
            .left{
                margin-right: 20px;
            }
        }
    }
   
    /* ***********************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/


      /************************************************************************************************
        SHOW MORE CONTENT
    *************************************************************************************************/
    .footer-toggle{ display: block !important;
        text-align: center; background-color: transparent;
        padding: 10px; 
        a{background-color: transparent; text-transform: uppercase; font-weight: 400; color: #666;
          &:hover, &:focus, &:active{color:$linkColor; background-color:transparent; box-shadow:none;}
            &.active{
                .toggle-less{display: block;}
                .toggle-more{display: none;}
            }
           
            .toggle-less{display: none;}
            .toggle-more{display: block;}
            i{margin-#{$right}: 10px; font-size: 15px;
             @include animation(alert-anim 1s cubic-bezier(1, -0.01, 0, 0.99));
            }
        }
    }
    .footer-has-toggle{ position: relative; overflow: hidden;
      
         display: block;
        &.in{
          max-height: none;
          overflow: visible;
          display: block !important;
           &:before{
            display: none;
           }
                
        }
         &:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          z-index: 1;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255,255,255,0)), to(#fff));
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 70%, #fff 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 70%, #fff 100%);
        }
       
    }
     .footer-has-toggle{
        min-height: 316px;
         max-height: 316px;
    }
  

    /*[] FOOTER DEFAULT []*/

     footer{
        .news-letter .title-block
        .module h3.footertitle{ margin-top: 10px; }
        .footer-top .block-infos .info{ width: 33.33% !important;
            &.info4,
            &.info5{ display: none;  }
        }
        .news-letter .title-block{ display: block; text-align: center; }
        .news-letter .block_content .input-box input{ width: 240px; }
        .social_block ul{ text-align: center;
            &.social-block li{ float: none; a{ line-height: 60px; } }
        }
        .socials-wrap .title-follow
        .social_block{ background: transparent; border-bottom: 1px solid #3a3a3a; }
        .box-footer.box-account{ border-color: transparent; }
        .news-letter .title-block{ display: block; text-align: center;}
        .news-letter .block_content{ display: block; padding: 0; }
        .news-letter .block_content .input-box input{ width: 90%; }
        .socials-wrap .title-follow{ padding-top: 0 !important; margin-top: 0 !important; text-align: center !important; display: block !important;}
        .footer-center .custom_categories nav a{ padding: 0 10px; }
    }
    footer.typefooter-1{
       
        .footer-top .block-infos .info{ width: 33.33% !important;
            &.info4,
            &.info5{ display: none;  }
        }
        .news-letter .title-block{ display: block; text-align: center; }
        .news-letter .block_content .input-box input{ width: 240px; }
        .social_block ul{ text-align: center;
            &.social-block li{ float: none; a{ line-height: 60px; } }
        }
        .social_block{ background: transparent; border-bottom: 1px solid #3a3a3a; }
        .box-footer.box-account{ border-color: transparent; }
        .news-letter .title-block{ display: block; text-align: center;}
        .news-letter .block_content{ display: block; padding: 0; }
        .news-letter .block_content .input-box input{ width: 90%; }
      
    }
    footer.typefooter-2{
        .news-letter .block_content {
            padding: 0;
            display: block;
            .input-box input{ width: 100%; border-radius: 28px; }
        }
        .socials-wrap .title-follow{ display: block; margin: 10px 0 5px !important; text-align: center; }
        .socials-wrap ul{ display: block; padding-top: 5px; }
    }
    
    footer.typefooter-6{
        .footer-top .bf-left { font-size: 15px; }
        .footer-center{ background-size: cover;
            .col-lg-3:nth-child(3n){
                clear: both;
            }
         }
        .item-ft{ min-height: 215px; }

    }

    /*[] FOOTER 7 []*/ 
    footer.typefooter-7{
        .module.footer7-newleter .block_content{ vertical-align: top; }
        .footer-center ul li a{padding: 0 10px;}

    } 
    footer.typefooter-7 .module{
        margin-bottom: 30px;
    }

    /*[] FOOTER 8 []*/ 
    footer.typefooter-8 {
        .news-letter .block_content form{
            width: 77%;
        }
         .news-letter .block_content form .input-box input{
            width: 300px;
         }
         .news-letter .block_content form .subcribe button{
            padding: 0 25px !important;
            float: left;
         }

    }

    /*[] FOOTER 9 []*/ 
    footer.typefooter-9{
        background-size: 100% 100%;
         .footer-top,.footer-middle{
            position: relative;
            &:before{
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.6;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .footer-top .col2{
            padding-top: 25px;
            padding-bottom: 0px;
        }
        .footer-top .col1{
            padding-top: 12px;
        }
        .footer-top .footer-block {
            padding-bottom: 0;
           
        }
         .footer-top .col3 {
            padding-top: 35px;
            padding-bottom: 30px;
        }
         .footer-top .footer-block{

         }
    }

    /*[] FOOTER 10 []*/ 
    footer.typefooter-10{
         .policy-shop .col{
            width: 50%;
        }
        .footer-midle{
            .col-sm-6:nth-child(2n+1){
                clear: both;
            }
        }
    }
    footer.typefooter-11{
         .news-letter .title-block .page-heading{
            text-align: $left;
        }
        .footer-bottom .copyright{
            text-align: center;margin-bottom: 10px;
        }
         .footer-bottom .paymen{
            text-align: center;
         }
    }
    footer.typefooter-12 .news-letter .title-block {
        text-align: $left;
    }
    footer.typefooter-14{
         .module .footer-block-title h3, .module h3.footertitle{
            margin-top: 20px;
        }
        
        .news-letter .block_content .input-group:before{
            display: none;
        }
        .news-letter .title-block{
            white-space: normal;

        }

    }
    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    
    .thumb-vertical-outer { padding: 20px 0;}
    .short-by-show .form-group{ float: $left; margin: 0 5px; }
    .so-filter-price .put-min_max{
        .name-curent{ display: inline-block; float: $left; line-height: 30px; }
        .form-control{ width: 60px; line-height: 30px; padding: 0!important; margin: 0!important; height: 30px; min-width: 60px; }
    }
    .products-list.list .product-layout .product-item-container .left-block .product-image-container{ 
        .img-1{ margin: 0 auto; text-align: center; opacity: 1!important; transform: rotateY(0deg)!important;}
        .img-2.img-responsive{ display: none; } 
    }
    .products-list.list .product-layout .product-item-container .right-block{ padding: 0; margin-top: 20px; 
        .caption{ padding: 0; }
    }

    /************************************************************************************************
        PAGE DETAIL 
    ************************************************************************************************ */
    .info-right{ margin-top: 20px; }

    /************************************************************************************************
        DEFTAULT MENU  
    ************************************************************************************************ */
    
    /*MEGA MENU*/

    .megamenu-style-dev{
        .container-megamenu.horizontal .title-feature, 
        .container-megamenu.horizontal ul.megamenu .title-submenu, 
        .container-megamenu.horizontal ul.megamenu li .sub-menu .content .static-menu a.main-menu, 
        .container-megamenu.horizontal ul.megamenu .subcategory a.title-submenu{ padding: 10px 0; font-size: 14px; font-family: Open Sans, sans-serif;}
        .container-megamenu.horizontal ul.megamenu > li > a strong img,
        .container-megamenu.vertical:after{ display: none; }
        .navbar-default .vertical #menuHeading{ display: none!important; }
        .responsive {

            ul.megamenu .sub-menu .content .row > div{
                width: 100%;
            }
            ul.megamenu > li.active .close-menu{
                #{$right}: 0;
                #{$left}: inherit;
            }
            #remove-megamenu{ display: block; color: #222; cursor: pointer; }
            .so-megamenu-active #remove-megamenu{ color: #222; }
            .megamenu-wrapper{ border: none; border-radius: 0; }
            div[class^=col-]{  width: 100%; }
            ul.megamenu > li{
                display: block !important;
                border-bottom: 1px solid #ddd;
                border-top: none;
                padding: 5px 0 !important;
                overflow: hidden;
                margin: 0 !important; 
                a{ line-height: 25px; }
            }
            ul.megamenu > li.click::before, ul.megamenu > li.hover::before{
                padding: 0 !important;
                font-size: 14px;
                background: #5c5c5c;
                color: #fff;
                border: 1px solid #5c5c5c;
                width: 22px;
                line-height: 20px;
                height: 22px;
                display: inline-block;
                text-align: center;
                top: 10px;
                cursor: pointer;
                #{$right}: 0;
                #{$left}: auto;
            }

            ul.megamenu > li.active {
                .sub-menu{ display: block!important; }
                > a{ color: #fff; background: transparent!important; }
                .close-menu{
                   padding: 0;width: 22px; line-height: 22px; background: #5c5c5c; height: auto; top: 10px;
                    &:before{
                        color: #fff;
                        font-size: 14px;
                        line-height: 18px;;
                    }
                }
            }
           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee;}
        }
        .navbar-default .horizontal{
            .navbar-toggle{
                margin: 0 ;
              //  margin-top: 10px;
                color: #fff;
                border-radius: 4px;
                @include bgbutton();
                -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                -moz-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                border: solid 1px #000;
                float: $left;
                cursor: pointer;
                padding: 9px 8px;
                .icon-bar{
                    background: #fff;
                    width: 25px;
                    height: 3px;
                }
            }
            .megamenu-wrapper{
                background: #fff;
                box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
                padding: 20px!important;
                ul.megamenu > li{
                        > a{
                        color: #222!important;
                        padding: 0 !important;
                        margin-#{$right}: 30px !important;
                        font-size: 13px !important;
                        line-height: 29px !important;
                        font-family: Open Sans, sans-serif;
                        &:hover{ color: $linkColor !important; }
                    }
                }
                ul.megamenu > li > a strong { font-weight: 400; }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
            }
            .features-menu{
                .column{
                    &.layout-color a{display: inline-block;}
                    a{margin: 0 0 30px;display: block}
                }
            }
        }
        .navbar-default{
            .vertical {
                #menuHeading{
                    display: block;
                    margin: 0;
                }
                ul.megamenu{ position: relative; background: transparent;
                    > li{ background: transparent; }
                }
                .vertical-wrapper ul.megamenu > li > a{ border-bottom: none; }
                .vertical-wrapper ul.megamenu > li b.fa{ display: none; }
                .vertical-wrapper ul.megamenu{ border: none; }
                .navbar-header{
                   .title-navbar{ 
                        display: none;                   
                    }

                    .navbar-toggle{
                        padding: 10px 8px;
                        margin: 5px 10px;
                        @include bgbutton();
                        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                        -moz-box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 0.5px rgba(255,255,255,.2);
                        border: 1px solid #000;
                        border-radius: 5px;
                        .icon-bar{ background: #fff; 
                            &:nth-child(1){
                                width: 13px;
                            }
                            &:nth-child(2){
                                width: 18px;
                            }
                        }
                    }
                }
                #remove-verticalmenu{ display: block; color: #222; cursor: pointer; font-size: 16px; }
                .vertical-wrapper{
                    position: fixed;
                    background: #fff;
                    box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
                    padding: 20px!important;
                    width: 280px;
                    max-height: 100%;
                    top: 0;
                    z-index: 9999;
                    border: none;
                    &.so-vertical-active{ display: block!important; }
                    ul.megamenu > li.active .sub-menu{ border: 1px solid #ddd; padding: 20px; 
                        .content{ padding:0px; border: none; box-shadow: none; 
                            .row:first-child > div:first-child{ margin-top: 0; }
                            .static-menu .menu ul li a.main-menu{ font-size: 14px; }
                        }
                    }

                    ul.megamenu{
                        .item-vertical.vertical-style3 .content .image-position{
                            transform: scale(0.8);
                            -moz-transform: scale(0.8);
                            -webkit-transform: scale(0.8);
                            -ms-transform: scale(0.8);
                            position: relative;
                        }
                        .item-vertical.css-menu .sub-menu .content .categories .menu > ul li{
                            &:before{
                                display: none;
                            }
                            .main-menu{text-transform: uppercase;margin: 0 0 10px;}
                            a:hover{color: $linkColor;}
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                box-shadow: none;
                                li{
                                    padding: 5px 0;
                                }
                            }
                        }
                        
                    }
                    ul.megamenu .item-vertical.vertical-style1 .content{ padding: 15px; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul{ border: none; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li b{ display: none; }
                    ul.megamenu > li{
                        border-bottom: 1px solid #ddd;
                        border-top: none;
                        padding: 0;
                        > a {     
                            padding: 3px 0;
                            margin-#{$right}: 30px;
                            font-family: Open Sans, sans-serif;
                            text-transform: uppercase;
                            background: transparent!important;
                            font-size: 13px;
                            strong{ color: #222; font-weight: normal;}
                        }
                        &.loadmore{ border: none; }
                        a{ line-height: inherit; }
                        &.hover{
                            &:before{
                                font-size: 14px;
                                color: #fff;
                                height: 22px;
                                line-height: 20px;
                                width: 22px;
                                background: #5c5c5c;
                                text-align: center;
                                cursor: pointer;
                                border: 1px solid #5c5c5c;
                                padding: 0 !important;
                                top: 6px;
                            }
                            &:hover{
                                &:before{
                                    color: #fff;
                                }
                                
                            }
                        }
                        &.active {
                            background: none;
                            .close-menu{
                                background: #5c5c5c;
                                font-size: 14px;
                                top: 6px;
                                &:before{color: #fff; line-height: 22px;}
                            }
                        }
                    }
                }
            }
        }
    }

    /*MENU STIKY*/
    header.navbar-compact{ display: none; }
    header .horizontal ul.megamenu > li > .sub-menu{ border: none; }
    ul.megamenu li.active .sub-menu .content{ padding: 0 10px; }
    #wrapper{ overflow-x: hidden; }
    .zoomContainer{ display: none; }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu li .sub-menu{
        @include if-rtl { left: 0; right: inherit!important; }
    }
    .simple_blog-article .product-filter.filters-panel{ display: none; }
    header #sosearchpro .dropdown-menu{ #{$right}: 0!important; #{$left}: inherit!important; }
    /************************************************************************************************
        PAGE BONUS  
    *************************************************************************************************/
    .our-member .respl-item .w-image-box { float: none; overflow: hidden; width: 100%; text-align: center; }
    .our-member .respl-item .info-member { text-align: center; margin: 0; }
    .our-member .respl-item .info-member li { float: none; display: inline-block; }

    .account-wishlist .text-right{
        padding: 8px 3px;
    }
    .products-list.list-masonry .product-layout .product-item-container .button-group button.addToCart, 
    .products-list.grid .product-layout .product-item-container .button-group button.addToCart{
        font-size: 13px;
    }
     .products-list.list-masonry .product-layout .product-item-container .button-group button.addToCart,
      .products-list.grid .product-layout .product-item-container .button-group button.addToCart{
        i{
            font-size: 16px;
        }
      }
}